@import "../../../styles/base.scss";

.modal-wrapper {
  display: flex;
  justify-content: center;
}

.patients-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 98%;
}

.patient-icon {
  height: 100%;
  min-height: 70px;
  width: 100%;
  /*flex-basis: 150px;*/
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*font-size: 0.75rem;*/
  border: 1px solid $gray;
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  transition: all 0.25s ease 0s;
  word-break: break-word;
  color: $black;
  background-color: $white;
  font-family: $code;

  &:hover {
    color: $primaryBlue;
    border: 1px solid $primaryBlue;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    transform: translateY(-2.5px);
  }

  &:hover .patient-info-button {
    display: block;
    transition: all 0.25s ease 0s;
  }
}

.patient-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
}

.patient-info-button {
  display: none;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 125px;
  border: 1px solid $primaryBlue;
  color: $primaryBlue;
  /*font-size: 0.2rem;*/
  transition: all 0.25s ease 0s;
  padding: 0.5rem;
  border-radius: 4px;

  &:hover {
    background-color: $hoverBlue;
    color: $white;
    transition: all 0.25s ease 0s;
  }
}

.patient-info-button:last-child{
   margin-bottom: 1rem; 
}

.buttons{
    margin-top:20px;
}
